.isp-list-container{
    padding:50px 150px
}
.filter-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sort-order-section{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.search-bar{
    width: 320px;
}
.mr24{
    margin-right:24px;
}
.mrh{
    margin-right: 8px;
}
@media(max-width:1100px){
    .isp-list-container{
        padding:25px 50px
    }
    .filter-section{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
@media(max-width:600px){
    .sort-order-section{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
