<div class="isp-list-container">
    <div class="filter-section">
        <mat-form-field floatLabel="never" class="search-bar mr24">
            <input id="searchBar" matInput type="text" placeholder="Search (by ISP name, pricing, rating)"
                name="searchBarInput" [(ngModel)]="filterHash.searchText" (ngModelChange)="filterChanged()">
        </mat-form-field>
        <div class="sort-order-section">
            <div class="flex-row layout-align-start-center mr24">
                <mat-icon class="mrh">sort</mat-icon>
                <mat-form-field floatLabel="never">
                    <mat-select id="sortBy" placeholder="Sort by" name="sortBySelect" [(ngModel)]="filterHash.sortBy"
                        (selectionChange)="filterChanged()">
                        <mat-option *ngFor="let option of sortOptionList" [value]="option.value">{{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex-row layout-align-start-center">
                <mat-icon class="mrh">swap_vert</mat-icon>
                <mat-form-field floatLabel="never">
                    <mat-select id="orderBy" placeholder="Order" name="orderBySelect" [(ngModel)]="filterHash.orderBy"
                        (selectionChange)="filterChanged()">
                        <mat-option *ngFor="let option of orderOptionList" [value]="option.value">{{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>
    <mat-card class="list-card">
        <mat-card-content>
            <div class="loader-container" *ngIf="showLoading">
                <mat-spinner></mat-spinner>
            </div>
            <ng-container *ngFor="let ispData of ispList;let index=index;let last=last">
                <div class="isp-card">
                    <div class="isp-img-avatar">
                        <img [src]="ispData.image" alt="" defaultIspImage>
                    </div>
                    <div class="isp-name" title="{{ispData.name}}">{{ispData.name}}</div>
                    <div class="isp-rating">
                        <rating [value]="ispData.rating"></rating>
                    </div>
                    <div class="isp-price">&#8377;{{ispData.lowest_price}}</div>
                    <div class="isp-action-btn">
                        <button mat-icon-button (click)="openDetails(index)" title="Show details" color="primary">
                            <mat-icon>play_circle_filled</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-card-content>
    </mat-card>

</div>